# =========================
# Git
# =========================
.git
.gitignore

# =========================
# Node modules
# =========================
node_modules
**/node_modules

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker files (avoid recursion issues)
# =========================
docker-compose.yml
scripts/

# =========================
# Environment
# =========================
.env

# =========================
# Temporary
# =========================
tmp/
temp/
