# =========================
# Cloned source repo
# =========================
voting-app/

# =========================
# Environment files
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Docker temp
# =========================
*.tar
*.pid
